# Игнорируем конфиденциальные данные
configs/*
!configs/.gitkeep

# Хранилище данных
storage/*
!storage/.gitkeep
!storage/cache/
!storage/cache/.gitkeep
!storage/products/
!storage/products/.gitkeep
!storage/settings/
!storage/settings/.gitkeep
!storage/stats/
!storage/stats/.gitkeep
data/*
!data/.gitkeep
.github/

# Кеш
cache/
!cache/.gitkeep

# Тесты
test/

# Логи
logs/*
!logs/.gitkeep
*.log
bot.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini
